<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <link href="lib/angular-material/angular-material.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/wui.css" rel="stylesheet" type="text/css">
    <title>welcome</title>
</head>
<body ng-controller="DemoController">
<h1 align="center">welcome</h1>

<div layout="column" layout-padding  ng-cloak ng-show="showInput">
        <md-input-container class="md-icon-float md-block">
            <!-- Use floating label instead of placeholder -->
            <label>访客姓名</label>
            <md-icon md-svg-src="img/account.svg" class="访客姓名"></md-icon>
            <input ng-model="user.guest" type="text" ng-required="true">
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
            <!-- Use floating label instead of placeholder -->
            <label>被访人姓名</label>
            <md-icon md-svg-src="img/account_visited.svg" class="被访人姓名"></md-icon>
            <input ng-model="user.visited" type="text">
        </md-input-container>

        <md-input-container md-no-float class="md-block">
            <label>联系电话</label>
            <md-icon md-svg-src="img/call.svg" class="联系电话"></md-icon>
            <input ng-model="user.phone" type="text" ng-required="true">
        </md-input-container>

        <md-input-container class="md-block">
            <!-- Use floating placeholder instead of label -->
            <md-icon md-svg-src="img/home.svg" class="公司名称"></md-icon>
            <input ng-model="user.company" type="company" placeholder="公司名称" ng-required="true"
                   aria-label="company (required)">
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
            <!-- Use floating label instead of placeholder -->
            <label>车牌号</label>
            <md-icon md-svg-src="img/account_visited.svg" class="车牌号"></md-icon>
            <input ng-model="user.car" type="text">
        </md-input-container>

        <md-input-container md-no-float class="md-block">
            <label>拜访缘由</label>
            <md-icon md-svg-src="img/star.svg" class="拜访缘由"></md-icon>
            <input ng-model="user.purpose" type="text">
        </md-input-container>

        <div layout="col" >
            <div flex="50">
                    <h4>预计来访时间</h4>
                <div class="wui-area" >
                    <wui-date
                            format="yyyy-mm-dd hh:mm"
                            placeholder="请选择或输入日期"
                            id="start_date"
                            btns="{'ok':'确定','now':'此刻'}"
                            ng-model="user.startTime"
                    >
                    </wui-date>
                </div>
            </div>

           <div>
               <h4>预计离开时间</h4>
               <div class="wui-area">
                   <wui-date
                           format="yyyy-mm-dd hh:mm"
                           placeholder="请选择或输入日期"
                           id="end_date"
                           btns="{'ok':'确定','now':'此刻'}"
                           ng-model="user.endTime"
                   >
                   </wui-date>
               </div>
           </div>

        </div>
        <div align="center">
            <md-button ng-click="add()" class="md-raised md-primary"> 提交</md-button>
        </div>
</div>
<div align="center" ng-show="!showInput">
    <h2>欢迎光临爱普生</h2>
</div>
<script src="lib/jquery/jquery.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/wui-date.js"></script>
<script src="lib/angular-route/angular-route.js"></script>
<script src="lib/angular-animate/angular-animate.js"></script>
<script src="lib/angular-aria/angular-aria.js"></script>
<script src="lib/angular-material/angular-material.js"></script>
<script src="js/guest.js"></script>
</body>
</html>